<div style="margin-top: 4em;"></div>

<div class="site-footer">
  <div class="container">
    <div class="grid">
      <div class="logo">
        <img src="/assets/img/layout/logo-footer.svg" alt="">
        <span class="copy">Ondřej Polanský <span class="char">©</span> {{ 'now' | date: "%Y" }} <br><br> Sdílejte a&nbsp;nechte ostatní sdílet<br/>za&nbsp;stejných podmínek.</span>
        <br>
        <span class="copy">design: AdHackers s.r.o.</span>
        <div class="social">
          <ul>
            <li class="twitter"><a href="https://twitter.com/andy_cz" target="_blank"></a></li>
            <li class="facebook"><a href="https://www.facebook.com/ondrej.polansky" target="_blank"></a></li>
            <li class="google-plus"><a href="https://plus.google.com/u/0/102999246855442177918" target="_blank"></a></li>
            <li class="instagram"><a href="https://www.instagram.com/ondrej.polansky/" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <!--<div class="menu">-->
      <!--</div>-->
      <div class="menu">
        <div class="title">
          <h4><a target="_blank" href="http://www.psp.cz/">Poslanecká sněmovna</a></h4>
        </div>
        <ul>
          <li><a target="_blank" href="http://www.psp.cz/sqw/detail.sqw?id=6529">Moje stránka</a></li>
          <li><a target="_blank" href="http://www.psp.cz/eknih/2017ps/rejstrik/jmenny/6529.html">Řeči ve sněmovně</a></li>
          <li><a target="_blank" href="http://www.psp.cz/sqw/hlasovani.sqw?id=6529">Jak jsem hlasoval</a></li>
        </ul>
      </div>
      <div class="menu">
        <div class="title">
          <h4>Členství v orgánech</h4>
        </div>
        <ul>
          <li><a target="_blank" href="http://www.psp.cz/sqw/hp.sqw?k=3500&o=8">Hospodářský výbor</a></li>
          <li><a target="_blank" href="http://www.psp.cz/sqw/hp.sqw?k=6200&o=8">Stálá delegace MPU</a></li>
          <li><a target="_blank" href="http://www.psp.cz/sqw/fsnem.sqw?id=1326&o=8">Komise pro kontrolu BIS</a></li>
          <li><a target="_blank" href="http://www.psp.cz/sqw/hp.sqw?k=6900&o=8">Volební komise</a></li>
        </ul>
      </div>
      <div class="menu">
        <div class="title">
          <h4><a target="_blank" href="https://www.pirati.cz/">Piráti.cz</a></h4>
        </div>
        <ul>
          <li><a target="_blank" href="https://wiki.pirati.cz/lide/ondrej_polansky">Osobní stránka</a></li>
          <li><a target="_blank" href="https://forum.pirati.cz/ondrej-polansky-u678/">Profil na fóru</a></li>
        </ul>
      </div>
      <div class="menu">
        <div class="title">
          <h4>O mně</h4>
        </div>
        <ul>
          <li><a href="/bio">Bio</a></li>
          <li><a href="/kalendar">Kalendář</a></li>
          <li><a href="/categories">Kategorie článků</a></li>
          <li><a href="{{ site.baseurl }}/feed.xml" alt="ATOM/RSS">RSS kanál</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
