<meta name="keywords" content="epic coding style">
<meta name="description" content="Osobní stránky poslance parlamentu České republiky, Ondřeje Polanského">
<meta name="author" content="Česká pirátská strana">

<meta property="og:url"           content="http://www.ondrejpolansky.cz/">
<meta property="og:type"          content="website">
<meta property="og:title"         content="Pusťte na ně Piráty, braňte naši svobodu!">
<meta property="og:description"   content="Politici i &quot;nepolitici&quot; slibují všem světlé zítřky, modré z nebe, nasazují růžové brýle. Pošlete na ně do Sněmovny Piráty jako vaši tajnou zbraň!">
<meta property="og:image"         content="https://www.ondrejpolansky.cz/assets/img/bartos.jpg">
<!--<meta property="fb:app_id"        content="224212454738672">-->
