<meta name="keywords" content="epic coding style">
<meta name="description" content="Osobní stránky poslance parlamentu České republiky, Ondřeje Polanského">
<meta name="author" content="Ondřej Polanský, Česká pirátská strana">

<meta property="og:url"           content="http://www.ondrejpolansky.cz/">
<meta property="og:type"          content="website">
<meta property="og:title"         content="Ondřej Polanský, poslanec Parlamentu ČR">
<meta property="og:description"   content="Osobní web poslance za Českou pirátskou stranu Ondřeje Polanského. Zápisky věnované veřejnosti o mé činnosti v poslanecké sněmovně.">
<meta property="og:image"         content="https://www.ondrejpolansky.cz/assets/img/hlavni.jpg">
<!--<meta property="fb:app_id"        content="224212454738672">-->
