<div class="site-header">
    <div class="container">
        <span class="cernenabilem"><span style="font-weight: 700">Ondřej Polanský</span>, poslanec parlamentu ČR</span>
        <div class="logo">
            <a href="/index.html"><img src="/assets/img/layout/logo.svg" alt=""></a>
        </div>
        <div class="social">
            <ul>
                <li class="twitter"><a href="https://twitter.com/andy_cz" target="_blank"></a></li>
                <li class="facebook"><a href="https://www.facebook.com/ondrej.polansky" target="_blank"></a></li>
                <li class="google-plus"><a href="https://plus.google.com/u/0/102999246855442177918" target="_blank"></a></li>
                <li class="instagram"><a href="https://www.instagram.com/ondrej.polansky/" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-menu">
    <ul class="page-menu-right"  >
        <li class="menu-text"><a href="/bio/">Biogram</a></li>
        <li class="menu-text"><a href="/kalendar/">Veřejný kalendář</a></li>
        <li class="menu-text"><a href="/zapisky">Všechny zápisky</a></li>
    </ul>
</div>