<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Pusťte na ně Piráty, braňte naši svobodu! | Česká pirátská strana</title>
	<meta name="keywords" content="epic coding style">
	<meta name="description" content="Politici i nepolitici slibují všem světlé zítřky, modré z nebe, nasazují růžové brýle. Pošlete na ně do Sněmovny Piráty jako vaši tajnou zbraň! ">
	<meta name="author" content="Česká pirátská strana">

	<meta property="og:url"           content="https://www.cernenabilem2017.cz/">
	<meta property="og:type"          content="website">
	<meta property="og:title"         content="Pusťte na ně Piráty, braňte naši svobodu!">
	<meta property="og:description"   content="Politici i &quot;nepolitici&quot; slibují všem světlé zítřky, modré z nebe, nasazují růžové brýle. Pošlete na ně do Sněmovny Piráty jako vaši tajnou zbraň!">
	<meta property="og:image"         content="https://www.cernenabilem2017.cz/img/bartos.jpg">
    <meta property="fb:app_id"        content="224212454738672">

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
	<meta name="application-name" content="&nbsp;">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="mstile-144x144.png">
	<meta name="msapplication-square70x70logo" content="mstile-70x70.png">
	<meta name="msapplication-square150x150logo" content="mstile-150x150.png">
	<meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
	<meta name="msapplication-square310x310logo" content="mstile-310x310.png">


<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css">
<link href="/css/style.min.css" rel="stylesheet" media="screen">

</head>
<body class="homepage">

    <div id="fb-root"></div>

    <div class="site-header">
        <div class="container">
					<span class="cernenabilem">Vepřová, knedlík a zelí. K tomu plzeň.</span>
            <div class="logo">
                <a href="/index.html"><img src="/img/logo.svg" alt=""></a>
            </div>
<div class="social">
    <ul>
        <li class="twitter"><a href="https://twitter.com/PiratskaStrana" target="_blank"></a></li>
        <li class="facebook"><a href="https://www.facebook.com/ceska.piratska.strana" target="_blank"></a></li>
        <li class="google-plus"><a href="https://plus.google.com/+piratskastrana" target="_blank"></a></li>
        <li class="instagram"><a href="https://www.instagram.com/pirati.cz/" target="_blank"></a></li>
    </ul>
</div>
        </div>
    </div>

<div class="site-content">
	<div class="banner">
		<div class="container">
			<div class="icon">
			<img src="/img/bartos.jpg" alt="">
			</div>
			<div class="title">
				<h1>Pusťte na ně Piráty,<br>braňte svou svobodu!</h1>
			</div>
		</div>
	</div>

    {{ content }}

	<div class="perex">
		<div class="container-md">
			<div class="symbol">
				<div class="image"><img src="/img/icon-ruka.svg" alt=""></div>
				<span>PhDr. Ivan Bartoš, Ph.D., předseda strany</span>
			</div>
			<div class="logo-pirati">
				<img src="/index.html" alt="">
			</div>
			<div class="content">
				<p>Politici i&nbsp;"nepolitici" se&nbsp;snaží zalíbit jednoduchými sliby světlých zítřků, modrého z&nbsp;nebe, malují vše na&nbsp;růžovo nebo Čechy na&nbsp;bílo. Pošlete na&nbsp;ně do&nbsp;Sněmovny Piráty jako vaši tajnou zbraň! Seznamte se&nbsp;zde s&nbsp;naším programem, který&nbsp;tvoří čtyři základní pilíře - černé na&nbsp;bílém. Jsme jediná strana nespojená se&nbsp;skandály, korupcí, byrokracií a&nbsp;prosazováním zájmů vlastních členů a&nbsp;sponzorů. Hájíme naši svobodu a&nbsp;umíme digitalizací zjednodušit stát.</p>
			</div>
		</div>
	</div>

<div id="snippet--emailForm"><div class="newsletter nl1">
    <div class="container">
        <div class="title">
            <h2>Získej od Pirátů exkluzivní informace, poskytni nám email.</h2>
            <form action="index.html" method="post" class="ajax" id="frm-emailForm">
                <div class="form-content">
                    <div class="email">
                        <input type="email" name="email" placeholder="Zde zadejte e-mail" id="frm-emailForm-email" required data-nette-rules='[{"op":":filled","msg":"Vyplň platný email"},{"op":":email","msg":"Vyplň platný email"}]'>
                    </div>
                    <div class="captcha">
                        <div class="g-recaptcha" type="text" name="captcha" id="frm-emailForm-captcha" required data-nette-rules='[{"op":":filled","msg":"Musíš potvrdit, že nejsi robot."}]' data-sitekey="6LemACIUAAAAAMCoQK0t7PDslmslt0aMZYKIMdcf"></div>
                    </div>
                    <div class="submit">
                        <input type="submit" name="_submit" class="btn btn-primary btn-block" value="Potvrdit">
                    </div>
                </div>
            <input type="hidden" name="_token_" value="qxh6realy66qHa0EaqSBk+nGzfzamkV/6ViPY="><input type="hidden" name="_do" value="emailForm-submit"></form>


            <ul class="bullets">
            <li>Pošleme Vám digitální verzi letních Pirátských listů.</li>
            <li>Z našeho newsletteru se vše dozvíte jako první.</li>
            </ul>
        </div>
    </div>
</div>
</div>
	<div class="desc-long">
		<div class="text-row">
			<div class="container-md">
				<div class="content">
					<p class="bold">Dredy pirátského předsedy PhDr.&nbsp;Ivana Bartoše,&nbsp;Ph.D. zná z médií každý. Víte ale, že&nbsp;Ivan má dva doktoráty z&nbsp;informačních věd a&nbsp;Piráti vytvořili přesný plán na&nbsp;zjednodušení státní správy díky technologiím. Právě tyto technologie by&nbsp;měly stát za&nbsp;schopností státu bránit se&nbsp;kybernetickým útokům. A&nbsp;budeme bránit každého, kdo si chce zvolit vlastní druh školy pro&nbsp;své děcko.</p>
				</div>
			</div>
		</div>

		<div class="text-row">
			<div class="container-md">
				<div class="content">
					<p>Naše preference rostou měsíc po&nbsp;měsíci a&nbsp;v&nbsp;průzkumu STEM jsme již překročili hranici 5 %. Chceme vymáhat škody na&nbsp;úřednících. Prosadíme odvolatelnost politiků. Zrušíme EET pro&nbsp;živnostníky. Zakážeme plošné sledování lidí. Chceme žít po&nbsp;svém a&nbsp;ne jako mlčící námezdní síla v&nbsp;obří paštikárně. Pokud vás náš program zaujal a&nbsp;vyjadřuje i&nbsp;vaše hodnoty, zažádejte si o&nbsp;další informace. Více svobody - méně buzerace!</p>
<div class="social social-big">
    <div
        class="fb-like"
        data-href="https://www.cernenabilem2017.cz/"
        data-width="150px"
        data-layout="button_count"
        data-action="like"
        data-size="small"
        data-show-faces="false"
        data-share="true">
    </div>
    <div>
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet"></a>
    </div>
    <div>
    <g:plusone></g:plusone>
    </div>
</div>
				</div>
			</div>
		</div>
	</div>

<div class="articles">
    <div class="container">
        <div class="grid">
            <div class="item">
                <a href="chrante-lidi-pred-sikanou">
                    <div class="title">
                        <h3>Pusťte na&nbsp;ně Piráty a&nbsp;chraňte lidi před&nbsp;šikanou</h3>
                        <span class="author">Zrušíme EET pro&nbsp;živnostníky - k&nbsp;čemu má malíř pokojů online hlásit tržbu? Proč nemá daňová správa&nbsp;call centrum jako banka? Proč v&nbsp;internetové době neobíhají data, ale lidé po&nbsp;úřadech?</span>
                    </div>
                    <div class="image">
                        <img src="/img/ferjencik.jpg" alt="">
                    </div>
                    <div class="more">
                        <a class="btn btn-default btn-block" href="chrante-lidi-pred-sikanou">Chci vědět víc</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="experti-na-technologie">
                    <div class="title">
                        <h3>Pusťte na&nbsp;ně Piráty - experty na&nbsp;technologie</h3>
                        <span class="author">Technologiemi zjednodušíme stát. Dnes jsme levná ekonomika s&nbsp;nízkou přidanou hodnotou. V&nbsp;jednoduchosti založení firmy je&nbsp;Česko na&nbsp;81. místě na&nbsp;světě.</span>
                    </div>
                    <div class="image">
                        <img src="/img/michalek.jpg" alt="">
                    </div>
                    <div class="more">
                        <a class="btn btn-default btn-block" href="experti-na-technologie">Chci vědět víc</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="jako-hlidaci-psy">
                    <div class="title">
                        <h3>Pusťte na&nbsp;ně Piráty &nbsp;<br>jako hlídací psy</h3>
                        <span class="author">Kontrolujeme moc a&nbsp;mocné. V&nbsp;Praze na&nbsp;magistrátu bojuje Jakub Michálek proti korupci - odešli jsme z&nbsp;jednání s&nbsp;odsouzeným podvodníkem Karlem Březinou. TOP 09, ODS i&nbsp;Zelení s&nbsp;ČSSD koalici uzavřeli.</span>
                    </div>
                    <div class="image">
                        <img src="/img/tresnak.jpg" alt="">
                    </div>
                    <div class="more">
                        <a class="btn btn-default btn-block" href="jako-hlidaci-psy">Chci vědět víc</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--<div class="program">
        <div class="container">
            <div class="button-wrapper">
                <a class="btn btn-default btn-block" target="_blank" href="https://www.pirati.cz/program/psp2017.html">
                    Zajímá vás náš podrobný program?
                </a>
            </div>
        </div>
    </div>-->
</div>

<div id="snippet--emailForm2"><div class="newsletter white nl1">
    <div class="container">
        <div class="title">
            <h2>Získej více informací, poskytni nám e-mail</h2>
            <form action="index.html" method="post" class="ajax" id="frm-emailForm">
                <div class="form-content">
                    <div class="email">
                        <input type="email" name="email" placeholder="Zde zadejte e-mail" id="frm-emailForm-email" required data-nette-rules='[{"op":":filled","msg":"Vyplň platný email"},{"op":":email","msg":"Vyplň platný email"}]'>
                    </div>
                    <div class="captcha">
                        <div class="g-recaptcha" type="text" id="frm-emailForm-captcha" name="captcha" required data-nette-rules='[{"op":":filled","msg":"Musíš potvrdit, že nejsi robot."}]' data-sitekey="6LemACIUAAAAAMCoQK0t7PDslmslt0aMZYKIMdcf"></div>
                    </div>
                    <div class="submit">
                        <input type="submit" name="_submit" class="btn btn-primary btn-block" value="Potvrdit">
                    </div>
                </div>
            <input type="hidden" name="_token_" value="5d0u1a8hf75B4+Zldt/BgHLm0maQHg0/ufj+o="><input type="hidden" name="_do" value="emailForm-submit"></form>

        </div>
    </div>
</div></div>
</div>

    <div class="site-footer">
        <div class="container">
            <div class="grid">
                <div class="logo">
                    <img src="/img/logo-footer.svg" alt="">
                    <span class="copy">Česká pirátská strana <span class="char">©</span> 2017 <br> Sdílejte a&nbsp;nechte ostatní sdílet za&nbsp;stejných podmínek.</span>
										<br>
										<span class="copy">Zadavatel: Česká Pirátská Strana, <br>Zpracovatel: AdHackers s.r.o.</span>
<div class="social">
    <ul>
        <li class="twitter"><a href="https://twitter.com/PiratskaStrana" target="_blank"></a></li>
        <li class="facebook"><a href="https://www.facebook.com/ceska.piratska.strana" target="_blank"></a></li>
        <li class="google-plus"><a href="https://plus.google.com/+piratskastrana" target="_blank"></a></li>
        <li class="instagram"><a href="https://www.instagram.com/pirati.cz/" target="_blank"></a></li>
    </ul>
</div>
                </div>
                <div class="menu">
                    <div class="title">
                        <h4><a target="_blank" href="https://www.pirati.cz/o-nas/">O nás</a></h4>
                    </div>
                    <ul>
                        <li><a target="_blank" href="https://www.pirati.cz/program/">Program</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="title">
                        <h4>Připoj se</h4>
                    </div>
                    <ul>
                        <li><a target="_blank" href="https://www.pirati.cz/pripoj-se/">Dej nám vedět</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="title">
                        <h4>Makáme</h4>
                    </div>
                    <ul>
                        <li><a target="_blank" href="https://www.pirati.cz/aktuality/">Aktuality</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="title">
                        <h4><a target="_blank" href="https://www.pirati.cz/otevrenost/">Otevřenost</a></h4>
                    </div>
                    <ul>
                        <li><a target="_blank" href="https://smlouvy.pirati.cz/">Registr smluv</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="__scripts">-->
            <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>-->
            <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--<div id="snippet&#45;&#45;scripts">-->
    <!--&lt;!&ndash;<script src="js/main.min.js"></script>&ndash;&gt;-->
<!--</div>-->
        <!--&lt;!&ndash;<script type="application/javascript">&ndash;&gt;-->
                <!--&lt;!&ndash;$(function () {&ndash;&gt;-->
                    <!--&lt;!&ndash;$.nette.init();&ndash;&gt;-->
                <!--&lt;!&ndash;});&ndash;&gt;-->
            <!--&lt;!&ndash;</script>&ndash;&gt;-->
    <!--</div>-->
</body>
</html>
